name: Release Preparation
on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  prepare-release:
    runs-on: windows-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: --verbose --bump
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}
      - uses: denoland/setup-deno@v2
        with:
          deno-version: lts
      - run: deno --allow-read --allow-write ci/bumper.ts ${{ steps.git-cliff.outputs.version }} -o Cargo.toml
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo check && cargo update
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "chore(release): prepare for ${{ steps.git-cliff.outputs.version }}"
          branch: "chore/release"
          add-paths: "CHANGELOG.md, Cargo.toml, Cargo.lock"
          body: "This PR was automatically created by the Release Preparation action."
          commit-message: "chore(release): prepare for ${{ steps.git-cliff.outputs.version }}"
